
.aboutItem_wrap{
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  .style_span {
    padding: 2px 15px;/*rem*/
    margin-bottom: 20px;/*rem*/
    font-size: 18px;/*rem*/
    margin-left: 10px;
    border-radius:10px;
    float: left;
    animation: rightToLeft .3s ease-in;
    background: white;
    color: #4880FF;
    border:1px solid #4880FF;
  }
  @keyframes rightToLeft {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}


